<div class="header">
    <div class="container">
        <div class="header-block">
            @if (!(authService.isAuthenticated$ | async)) {
                <p-button label="Вход" (click)="showSimpleSignIn()"></p-button>
            } @else {
                <div class="flex align-items-center gap-3">
                    <p-menu #menu [model]="userMenuItems" [popup]="true"></p-menu>
                    <button pButton (click)="menu.toggle($event)" [label]="currentUserName"></button>
                </div>
            }
            <button
                pButton 
                icon="pi pi-plus" 
                label="Новое объявление"
                (click)="handleCreateAdvert()">
            </button>
        </div>
    </div>
</div>