<div class="sign-up">
    <h2 class="signup-title">Регистрация</h2>

    <div class="sign-up-name">
        <label  class="sign-up-label">Имя</label>
        <input 
        pInputText
        [(ngModel)] = "registerData.name"
        placeholder="Введите имя"/>
    </div>

    <div class="sign-up-login">
        <label for="" class="sign-up-label">Lогин</label>
        <input 
        pInputText
        [(ngModel)] = "registerData.login"
        placeholder=" Введите желаемый логин"/>
    </div>

    <div class="sign-up-password mb-3">
    <label class="sign-up-label">Пароль</label>
    <p-password 
      [(ngModel)]="registerData.password" 
      [feedback]="false"  
      placeholder="Введите пароль" />
  </div>

   <div class="sign-up-confirm mb-3">
    <label class="sign-up-label">Подтверждение пароля</label>
    <p-password 
      [(ngModel)]="confirmPassword" 
      [feedback]="false" 
      placeholder="Повторите пароль" />
  </div>
  
  <div class="sign-up-phone mb-4">
    <label class="sign-up-label">Телефон (Не обязательно)</label>
    <input 
      pInputText 
      [(ngModel)]="registerData.phone"  
      placeholder="Введите телефон" />
  </div>

  @if (errorMessage) {
    <div class="sign-up-message">{{errorMessage}}</div>
  }

  <div class="sign-up-buttons flex justify-content-start  gap-2">

    <button 
    pButton
    severity="danger"
    label="Отмена"
    class="p-button-text"
    (click)="close()"></button>
 
    <button 
    pButton
    label="Регистрация"
    [loading]="loading"
    (click)="register()"></button>

  </div>
</div>
