<div class="creat-advert">
    <form [formGroup]="createAdvertForm" (ngSubmit)="onSubmit()">

        <div class="create-advert-label">
            <label for="Name">Навзание объявления*</label>
            <input 
            pInputText
            id="Name"
            formControlName="Name"
            placeholder="Введите название объявления">
            <small *ngIf="createAdvertForm.get('Name')?.touched && createAdvertForm.get('Name')?.invalid">
                название обязательно и должно содержать не менее четырех символов
            </small>
        </div>

        <div class="create-advert-cost">
            <label for="Cost"> Цена*</label>
            <p-inputNumber 
                id="Cost"
                formControlName="Cost"
                mode="currency"
                currency="RUB"
                locale="ru-RU">
            </p-inputNumber>
            <small *ngIf="createAdvertForm.get('Cost')?.touched && createAdvertForm.get('Cost')?.invalid">
                Обязательное поле, цена должна быть положительной
            </small>
        </div>

        <div class="create-advert-phone">
            <label for="Phone">Телефон*</label>
            <input 
                pInputText
                id="Phone"
                formControlName="Phone"
                placeholder="Введите телефон">
            <small *ngIf="createAdvertForm.get('Phone')?.touched && createAdvertForm.get('Phone')?.invalid">
                Телефон обязателен
            </small>
        </div>

        <div class="create-advert-location">
            <p-autoComplete 
                 id="location"
                formControlName="Location"
                [suggestions]="addressSuggestion"
                (completeMethod)="searchAddress($event)"
                optionLabel="value" 
                placeholder="Начните вводить адрес"
                [dropdown]="true"
                class="w-full">
            </p-autoComplete>

            <small *ngIf="createAdvertForm.get('Location')?.touched && createAdvertForm.get('Location')?.invalid">
                Обязательное поле
            </small>
        </div>

        <div class="create-advert-category">
            <label for="CategoryId">Категория*</label>
            <p-select 
                id="CategoryId"
                formControlName="CategoryId"
                [options]="categories"
                optionLabel="name"
                optionValue="id"
                placeholder="Выберите категорию">
            </p-select>
            <small *ngIf="createAdvertForm.get('CategoryId')?.touched && createAdvertForm.get('CategoryId')?.invalid">
                обязательное поле
            </small>
        </div>

        <div class="create-advert-images">
            <label for="images">Изображения для объявления</label>
            <input
            type="file"
            id="images"
            (change)="onFileSelected($event)"
            multiple
            accept="image/*">

            <div class="images-list" *ngIf="selectedFiles.length >0">
                <h4>
                    выбрано файлов : {{ selectedFiles.length}}{{selectedFiles.length >= maxFiles ?'(максимум)': ''}}
                </h4>
                <div *ngFor="let file of selectedFiles; let i = index"
                    class="file-item flex items-centr justify-between">
                    <div class="images-list-info">
                        <span>{{file.name}}</span>
                        <span>({{(file.size / 1024 / 1024).toFixed(2)}}Mb)</span>
                    </div>
                   <button 
                    pButton 
                    label="Удалить"
                    severity="danger"
                    (click)="removeFile(i)"></button>
                </div>
                <small>
                    Можно выбрать до {{maxFiles}} изображений. Поддерживаются изображения формата: Jpeg, PNG, GIF
                </small>
            </div>
        </div>
        <div class="create-advert-buttons">
            <button
            pButton
            type="submit"
            label="Создать объявление"
            class="p-button-primary"
            [disabled]="!createAdvertForm.valid"></button>
        </div>
    </form>
</div>