<div class="search-menu">
    <div class="container">

    <div class="search-menu-logo">
        <a routerLink="/">
            <span class="logo_black">Доска объявлений</span>
        </a>
    </div>
        <p-button icon="pi pi-bars" label="Все категории"></p-button>

        <div class="search-menu-block">
            <input type="text" pInputText placeholder="Поиск по объявлениям" class="search-menu-block-input"/>
            <p-button icon="pi pi-search" label="Найти" class="search-menu-block-button"></p-button>
        </div>

    </div>
</div>