<div class="search-menu">
    <div class="container">
        <div class="search-menu-logo">
            <a routerLink="/">
                <h1>Доска объявлений</h1>
            </a>
        </div>
        
        @if(!loading) {
           
            <div class="menu-container">
                <button  
                    pButton 
                    size="small"
                    icon="pi pi-bars" 
                    label="Все категории"
                    (click)="menu.toggle($event)">
                </button>
                
                <p-tieredmenu 
                    #menu
                    [model]="menuItems"
                    [popup]="true"
                    styleClass="custom-tieredmenu">
                    appendTo = "body"
                </p-tieredmenu>
            </div>
        } @else {
            <div class="loading-placeholder">
                <i class="pi pi-spin pi-spinner" style="margin-right: 0.5rem"></i>
                Загрузка категорий...
            </div>
        }

        <div class="search-menu-block">
            <input
            type="text"
            pInputText
            placeholder="Поиск по объявлениям"
            class="search-menu-block-input"
            [(ngModel)]="searchText"
            (keyup.enter)="onTextSearch()"/>
            
            <button
            pButton
            label="Найти"
            size="small"
            icon="pi pi-search"
            (click)="onTextSearch()"></button>
        </div>
    </div>
</div>